@define-mixin atSmall {
    @media (min-width: 530px) {
        @mixin-content;
    }
}

@define-mixin atMedium {
    @media (min-width: 800px) {
        @mixin-content;
    }
}

@define-mixin atLarge {
    @media (min-width: 1200px) {
        @mixin-content;
    }
}

/* the after is from vid 26 at ~7:40+ (moved into a mixin at 8:30) */
@define-mixin clearfix {
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}

