.row {
                /*the after is from vid 26 at ~7:40+ (moved into a mixin at 8:30)
    &::after {
        content: "";
        clear: both;
        display: table;
    }

    */

    @mixin clearfix;

    &--gutters {
        margin-right: -65px;
    }

                /* the gutters > div part is from vid 26 at ~10:19 - look at all of last part of vid... */
    &--gutters > div {
        padding-right: 65px;
    }

    @mixin atMedium {
        &__medium-4 {
            float: left;
            width: 33.33%;
        }
    
        &__medium-8 {
            float: left;
            width: 66.66%;
        }
    }

    
}