.wrapper {
    overflow: hidden; /* see vid 26 at ~15:00 - this is about padding and gutter width in collume layouts */
    padding-left: 1.125rem;
    padding-right: 1.125rem;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    &--medium {
        max-width: 976px; /* width of image */
    }

    .wrapper {
        padding-left: 0;
        padding-right: 0;
    }
}